<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Confessions</title>
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			<div class="jumbotron">
				<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Confession</h3>
					<ul class="nav masthead-nav">
						<li><a href="#">Login</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>
				<div class="container">
					<h1 class="cover-heading">confess</h1>
						<form role="form">
							<div class="form-group">
								<textarea id="message"></textarea>
							</div>
							<div class="form-group">
								<label for="alias">Alias</label>
								<input type="text" id="alias">
							</div>
							<p class="lead">
								<button class="btn btn-lg btn-success" id="add">Confess</button>
							</p>
						</form>
				</div>
			</div>
			<div class="content">
				<section id="messageViewer">
					<div class="section-header">
						<h2 class="section-title">Testing</h2>
					</div>
					<ol class="grid fixed-height">
						<li class="module">
							<p class="description">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
							<h4 class="subtitle">Anonymous</h4>
						</li>
						<li class="module">
							<p class="description">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
							<h4 class="subtitle">Anonymous</h4>
						</li>
						<li class="module">
							<p class="description">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
							<h4 class="subtitle">Anonymous</h4>
						</li>
					</ol>
				</section>
			</div>
		</div>
		<script src="assets/js/vendor/jquery-2.1.0.js"></script>
	<script src="assets/js/vendor/bootstrap.min.js"></script>
	<script src="assets/js/vendor/json2.js"></script>
	<script src="assets/js/vendor/underscore.js"></script>
	<script src="assets/js/vendor/backbone.js"></script>
	<script src="assets/js/vendor/backbone.marionette.js"></script>
	</body>
</html>